/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.store-logo {
  width: 100% !important;
  height: 35px !important;
}

.navbar {
  background-color: #dfe9f0;
}

.user-profile-img:hover {
  background-color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}

.icon-28 {
  width: 28px;
  height: 28px;
}
