/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.store-logo {
  width: 100% !important;
  height: 35px !important;
}

.navbar {
  background-color: #dfe9f0;
}

.user-profile-img:hover {
  background-color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}

.icon-28 {
  width: 28px !important;
  height: 28px !important;
}

.font-s15 {
	font-size: 15px !important;
}

.font-s15-5 {
	font-size: 15.5px !important;
}

.font-s17 {
	font-size: 17px !important;
}

.font-s30 {
	font-size: 20px !important;
}

.font-w550 {
	font-weight: 550 !important;
}

:root   {
	.permission-save-notification.mat-mdc-snack-bar-container {
		--mdc-snackbar-container-color: #676767 !important;
	}
}
