<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Document</title>
</head>
<body>
<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
	Value: {{ loginForm.valid | json }}

	<div>
		<label for="username">Username/Email: </label>
		<input formControlName="usernameOrEmail" id="username" name="username" type="text">
	</div>

	<div>
		<label for="password">Password: </label>
		<input formControlName="password" id="password" name="password" type="password">
	</div>

	<button type="submit">Login</button>
</form>
</body>
</html>
