<div class="role-table-frame">
	<div class="role-table-control">
		<div class="role-search-container">
			<input id="role-search-box" placeholder="Search role" type="text">
			<button [matRippleColor]="'rgba(115, 115, 115, 0.5)'" id="role-search-btn" matRipple>
				<mat-icon [svgIcon]="IconProvider.SEARCH.iconName" class="icon-28"></mat-icon>
			</button>
		</div>

		<div class="result-size-container">
			<select id="result-size-select">
				<option [value]="'10'" selected>10</option>
				<option [value]="'25'">25</option>
			</select>

			<p class="px-2 m-0">item(s) per page</p>
		</div>
	</div>

	<div class="main-content-container">
		<div class="main-content list-group">
			<div class="list-group-header">
				<div class="list-group-header-item">
					Role
				</div>
				<div class="list-group-header-item">
					Creation Date
				</div>
				<div class="list-group-header-item">
					Assigned User
				</div>
			</div>

			<div class="list-group-body" >
				<button *ngFor="let role of roles" (click)="openRolePermissionDialog({'roleName': role.roleName, 'permissions': permissions})" class="list-group-body-item list-group-item" type="button">
					<div class="list-group-body-item-detail">{{role.roleName}}</div>
					<div class="list-group-body-item-detail">[CreationDate]</div>
					<div class="list-group-body-item-detail">[AssignedMemberCount]</div>
				</button>
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				&lt;!&ndash;  &ndash;&gt;-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
				<!--				<button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
				<!--					The current button-->
				<!--				</button>-->
			</div>
		</div>
	</div>
</div>
