<div class="role-list-frame">
	<div class="role-list-control-top">
		<div class="role-list-control-top-section-1">
			<div class="result-size-container font-s15">
				<p>Show</p>

				<select id="result-size-select" (change)="updateRoleDisplaySize($event)">
					<option [value]="'10'" selected>10</option>
					<option [value]="'25'">25</option>
					<option [value]="'50'">50</option>
				</select>

				<p>items</p>
			</div>

			<div class="role-search-container" [formGroup]="roleSearchFormGroup">
				<input id="role-search-box" (keydown)="searchRole($event)" [formControlName]="'roleName'" class="font-s15" placeholder="Search role" type="text">
				<button (click)="searchRole()" [matRippleColor]="'rgba(115, 115, 115, 0.5)'" id="role-search-btn" matRipple>
					<mat-icon [svgIcon]="IconProvider.SEARCH.iconName" class="icon-28"></mat-icon>
				</button>
			</div>

			<div class="role-refresh-btn-container">
				<button (click)="refreshRoleList()" [matRippleColor]="'rgba(115, 115, 115, 0.5)'" id="role-refresh-btn" matRipple>
					<mat-icon [svgIcon]="IconProvider.REFRESH.iconName" class="icon-28"></mat-icon>
				</button>
			</div>
		</div>

		<div class="role-list-control-top-section-2">
			<button [matRippleColor]="'rgba(115, 115, 115, 0.5)'" id="role-create-btn" matRipple>
				<span>Add New Role</span>
			</button>
		</div>
	</div>

	<div class="main-content-container">
		<div class="main-content list-group">
			<div class="list-group-header">
				<div class="list-group-header-item font-s17" style="position: relative" (click)="sort(RoleSortField.roleName)">
					<span>Role</span>
					<div class="role-sort-indicator-container">
						<mat-icon class="role-sort-indicator-asc" [ngStyle]="updateSortIndicator(RoleSortField.roleName, SortOrder.ASC)" [svgIcon]="IconProvider.UP_ARROW.iconName"></mat-icon>
						<mat-icon class="role-sort-indicator-dsc" [ngStyle]="updateSortIndicator(RoleSortField.roleName, SortOrder.DESC)" [svgIcon]="IconProvider.DOWN_ARROW.iconName"></mat-icon>
					</div>
				</div>

				<div class="list-group-header-item font-s17" style="position: relative" (click)="sort(RoleSortField.createdDate)">
					<span>Creation Date</span>
					<div class="role-sort-indicator-container">
						<mat-icon class="role-sort-indicator-asc" [ngStyle]="updateSortIndicator(RoleSortField.createdDate, SortOrder.ASC)" [svgIcon]="IconProvider.UP_ARROW.iconName"></mat-icon>
						<mat-icon class="role-sort-indicator-dsc" [ngStyle]="updateSortIndicator(RoleSortField.createdDate, SortOrder.DESC)" [svgIcon]="IconProvider.DOWN_ARROW.iconName"></mat-icon>
					</div>
				</div>

				<div class="list-group-header-item font-s17">
					<span>Assigned User</span>
				</div>
			</div>

			<div class="list-group-body" >
				<!-- TODO: Temp. store phrase for future use | Nothing matches your search at the moment. -->
				<div *ngIf="firstItemCount <= 0" class="role-not-found-container">
					<span class="font-s30 font-w550">We couldn't find anything for your query.</span>
				</div>
				<button *ngFor="let role of roles" (click)="openRolePermissionDialog({'role': role, 'permissions': permissions})"
						class="list-group-body-item" type="button">
					<div class="list-group-body-item-detail font-s15-5">{{ role.roleName }}</div>
					<div class="list-group-body-item-detail font-s15-5">{{ DateTimeUtils.toUserLocalDate(role.createdDate) }}</div>
					<div class="list-group-body-item-detail font-s15-5">[AssignedMemberCount]</div>
				</button>
			</div>
		</div>

		<div class="role-list-control-bottom">
			<div>
				<span *ngIf="firstItemCount > 0" class="font-s15">Showing: {{ firstItemCount }} ~ {{ lastItemCount }} of {{ totalItems }} items</span>
				<span *ngIf="firstItemCount <= 0" class="font-s15">Showing: {{ firstItemCount }} of {{ totalItems }} items</span>
			</div>

			<div class="role-list-control-bottom-section-2">
				<div *ngIf="firstItemCount > 0" class="pagination-container">
					<div class="page-nav-left-container font-s15">
						<a class="page-nav-control" (click)="navigatePage('previous')">
							<mat-icon [svgIcon]="IconProvider.LEFT_ARROW.iconName" class="icon-28 align-middle"></mat-icon>
						</a>

						<a *ngIf="pageIndexList[0] !== 1" (click)="navigateToPage($event)">1</a>

						<span *ngIf="showEllipsis('start')">...</span>
					</div>

					<div *ngFor="let value of pageIndexList" class="page-index-list-container">
						<a class="font-s15" [ngStyle]="this.currentPage === value ? {'background': 'rgba(154, 154, 154, 0.7)', 'transition': '0.2s background ease-in-out' } : {}" (click)="navigateToPage($event)" >{{value}}</a>
					</div>

					<div class="page-nav-right-container font-s15">
						<span *ngIf="showEllipsis('end')">...</span>

						<a *ngIf="pageIndexList[pageIndexList.length - 1] !== totalPages" (click)="navigateToPage($event)">{{totalPages}}</a>

						<a class="page-nav-control" (click)="navigatePage('next')">
							<mat-icon [svgIcon]="IconProvider.RIGHT_ARROW.iconName" class="icon-28 align-middle"></mat-icon>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
